// About.
section#about.about: .container: .row: .col-lg-12.text-center
  ul.list-inline
    li: a(href='https://www.facebook.com/johnanthonyclarkmusic/')
      i.fa.fa-facebook.fa-fw.fa-3x
    li: a(href='https://twitter.com/JohnClark_Music')
      i.fa.fa-twitter.fa-fw.fa-3x
    li: a(href='https://instagram.com/johnclarkmusic/')
      i.fa.fa-instagram.fa-fw.fa-3x
    li: a(href='http://johnclarkmusic.tumblr.com/')
      i.fa.fa-tumblr.fa-fw.fa-3x
    li: a(href='https://www.youtube.com/channel/UCJU8odrbUOQ-EgPlTuFmZlw')
      i.fa.fa-youtube.fa-fw.fa-3x
    li: a(href='https://www.reverbnation.com/johnclark2')
      i.fa.fa-star.fa-fw.fa-3x

   div(style="position:relative;height:0;padding-bottom:56.25%")
    iframe(
      src="https://www.youtube.com/embed/QZat0oQ_9dk?ecver=2" 
      width="640" 
      height="360" 
      frameborder="0" 
      style="position:absolute;width:100%;height:100%;left:0" 
      allowfullscreen
    )   

  h2 CiCaDiA is out now!
  em 
    span Joined in lucid dreams by The StickFolk band of bugs, 
    br
    span John Clark shares the story of Hoppy and his mystical 
    br
    span journey from a midwestern pasture to CiCaDiA, bug heaven.
    br
  h3: a(href='https://itun.es/us/v4ISkb') Buy on iTunes
  br

  .center-block(style='max-width:600px;max-height:785px;min-width:300px;')
    div(style='position: relative;height: 0;overflow: hidden;padding-bottom:100%; padding-top:200px;')
      iframe(
        name="album"
        style="position:absolute;top:0px;left:0px;width:100%;height:100%;border:0px;" 
        src="//widget.cdbaby.com/401e31c3-c8be-49f8-b0e3-1cf5fddf6916/album/light/opaque"
      )
