doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='description' content='')
		meta(name='author' content='')

		title Death Therapy

		link(href='css/bootstrap.min.css' rel='stylesheet')
		link(href='css/stylish-portfolio.css' rel='stylesheet')
		link(href='font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	body
		// Navigation.
		a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#'): i.fa.fa-bars
		nav#sidebar-wrapper
			ul.sidebar-nav
				a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#'): i.fa.fa-times
				li.sidebar-brand: a(href='#top' onclick='$("#menu-close").click();') Death Therapy
				li: a(href='#top' onclick='$("#menu-close").click();') Home
				li: a(href='#about' onclick='$("#menu-close").click();') Stream
				// li: a(href='#services' onclick='$("#menu-close").click();') Store
				li: a(href='#portfolio' onclick='$("#menu-close").click();') Links
				li: a(href='#contact' onclick='$("#menu-close").click();') Contact

		// Header.
		header#top.header: .text-vertical-center
				h1 Death Therapy
				h3 By John Clark
				//-br
				//-a.btn.btn-dark.btn-lg(href='#about') Find Out More

		//-/////////////////////////////////////////////////////////////////////////
		// About.
		//-/////////////////////////////////////////////////////////////////////////
		section#about.about: .container: .row: .col-lg-12.text-center
			ul.list-inline
				li: a(href='https://www.facebook.com/johnanthonyclarkmusic/')
					i.fa.fa-facebook.fa-fw.fa-3x
				li: a(href='https://twitter.com/JohnClark_Music')
					i.fa.fa-twitter.fa-fw.fa-3x
				li: a(href='https://instagram.com/johnclarkmusic/')
					i.fa.fa-instagram.fa-fw.fa-3x
				li: a(href='http://johnclarkmusic.tumblr.com/')
					i.fa.fa-tumblr.fa-fw.fa-3x
				li: a(href='https://www.youtube.com/channel/UCJU8odrbUOQ-EgPlTuFmZlw')
					i.fa.fa-youtube.fa-fw.fa-3x
				li: a(href='https://www.reverbnation.com/johnclark2')
					i.fa.fa-star.fa-fw.fa-3x
				

			h2 Get Cured
			h3: a(href='https://itunes.apple.com/us/album/death-therapy/id1044851697') Buy on iTunes
			br
			- var urls = ['http://widget.cdbaby.com/2d3c15ad-79e6-4109-805e-77e7c3c74948/mini/dark/opaque','http://widget.cdbaby.com/0721a8ed-0a6a-4420-bd22-9b86148a8cb9/mini/light/opaque','http://widget.cdbaby.com/78189418-fb26-4fae-8522-11942c0dadd6/mini/light/opaque']
			for url in urls
				.mobile-only
					iframe(name='mini' style='width:90%;border:0px;height:100px;' src='#{url}')
					br
			iframe.desktop-only(
				name='full' style='width:90%;height:520px;border:0px;margin: 0 auto;' 
				src='http://widget.cdbaby.com/7262b27c-6ad4-4cd1-998b-b46e27e68d0a/full/dark/transparent'
			)
			//-p.lead Thanks Rob for the art!

		//-/////////////////////////////////////////////////////////////////////////
		// Services.
		//-/////////////////////////////////////////////////////////////////////////
		// section#services.services: .container: .row.text-center: .col-lg-10.col-lg-offset-1
			// h2 Our Services
			// hr.small
			// .row
				
				// for i in [1,2,3,4]
				// 	.col-md-3.col-sm-6: .service-item
				// 		span.fa-stack.fa-4x
				// 			i.fa.fa-circle.fa-stack-2x
				// 			i.fa.fa-compass.fa-stack-1x.text-primary
				// 		h4: strong Service Name
				// 		p Lorum somthin' er other.
				// 		a.btn.btn-light(href='#') Learn More
		// Callout
		// aside.callout: .text-vertical-center: h1 Vertically Centered Text

		//-/////////////////////////////////////////////////////////////////////////
		// Portfolio
		//-/////////////////////////////////////////////////////////////////////////
		section#portfolio.portfolio: .container: .row: .col-lg-10.col-lg-offset-1.text-center
			h2 Links
			hr.small
			.row
				h3 Music
				h4 iTunes
				a(href='https://itunes.apple.com/us/album/time-to-begin/id771237619') Time To Begin
				br
				a(href='https://itunes.apple.com/us/album/baby-steps/id907601447') Baby Steps
				h4 Streaming
				a(href='https://www.youtube.com/channel/UCJU8odrbUOQ-EgPlTuFmZlw') YouTube
				br
				a(href='https://soundcloud.com/johnanthonyclark') Soundcloud
				br
				a(href='http://www.pandora.com/john-clark-rock') Pandora
				h5 Spotify
				a(href='https://open.spotify.com/album/6mlvBH0cdvWzwG7StLIRRl') Baby Steps
				br
				a(href='https://open.spotify.com/album/6XXF35kTAbMJRGwvmtY27M') Time To Begin
				h4 Bandcamp
				a(href='https://johnclark2.bandcamp.com/album/death-therapy') Death Therapy
				br
				a(href='https://johnclark2.bandcamp.com/music') Discography
				
				h3 Friends
				a(href='https://www.facebook.com/theebq/?fref=ts') Echo Base Quartet
				br
				a(href='https://www.facebook.com/HKN-133101103385937/?ref=hl') Helen Keller Nation
				br
				a(href='https://www.facebook.com/johnnie.heber.er/?fref=ts') Johnnie Heberer
				br
				a(href='http://jcpst.com') Joseph Post
				br
				a(href='http://www.mississippiflapjacks.com') Mississippi Flapjacks
				br
				a(href='https://www.facebook.com/NineRabbitsLaughing/?ref=aymt_homepage_panel') Nine Rabbits Laughing
				br
				a(href='https://www.facebook.com/oaksteellightning/?fref=ts') Oak Steel and Lightning
				br
				a(href='http://www.relix.com/') Relix
				br
				a(href='http://www.robbiefrazelle.com') Robbie Frazelle
				br
				a(href='https://www.facebook.com/Woodshine/?fref=ts') Woodshine
				br
			// 	for i in [1,2,3,4]
			// 		.col-md-6: .portfolio-item: a(href='#')
			// 			img.img-portfolio.img-responsive(src="img/portfolio-#{i}.jpg")
			// a.btn.btn-dark(href='#') View More Items

		// Call To Action.
		// aside.call-to-action.bg-primary: .container: .row: .col-lg.text-center
		// 	h3 The buttons below are impossible to resist.
		// 	a.btn.btn-lg.btn-light(href='#') Click Me!
		// 	a.btn.btn-lg.btn-dark(href='#') Look at Me!

		// Footer.
		footer#contact: .container: .row: .col-lg-10.col-lg-offset-1.text-center
			ul.list-unstyled
				li
					i.fa.fa-envelope-o.fa-fw
					a(href='mailto:peachmoonpub@gmail.com') peachmoonpub@gmail.com
			br
			hr.small
			p.text-muted Copyright &copy; Death Therapy #{new Date().getFullYear()}

		script(src='js/jquery.js')
		script(src='js/bootstrap.min.js')
		script.
			$("#menu-close").click(function (e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});

			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});

			$(function () {
				$('a[href*=#]:not([href=#])').click(function() {
					if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
								|| location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
						if (target.length) {
							$('html,body').animate({ scrollTop: target.offset().top }, 1000);
							return false;
						}
					}
				});
			});
