iframe(
  allow="encrypted-media"
  allowtransparency="true"
  frameborder="0"
  height="80"
  src="https://open.spotify.com/embed?uri=spotify:user:peachmoonpub:playlist:616s5WR3f1K46aqjHqQws3&view=coverart"
  width="300"
)